@*选项卡*@
<div id="divMainTabs" class="easyui-tabs" data-options="fit:true,border:false,tools:'#tab-tools'">
</div>
@*选项卡按钮*@
<div id="tab-tools" style="">
    @*<a id="tabAllScreen" href="javascript:void(0)"  style="margin-top: 6px" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-F11-screen'"
       title="全屏" onclick="F11FullScreen()"></a>*@
    @*<a id="tabPartScreen" href="javascript:void(0)" style="margin-top: 6px" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-screen'" title="全屏" onclick="FullScreen()">
    </a>*@
    <a  href="javascript:void(0)" style="margin-top: 6px" id="btnReload" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'"
       title="刷新"></a>
    <a  href="javascript:void(0)" style="margin-top: 6px" class="easyui-linkbutton" id="btnCloseCurrent" data-options="plain:true,iconCls:'icon-cancel'" title="关闭">
    </a>
</div>
@*选项卡菜单*@
<div id="divTabsMenu" data-options="duration:600" class="easyui-menu" style="width:120px !important;">
    <div id="menuItem_Refresh" data-options="iconCls:'icon-reload'">刷 新</div>
    <div class="menu-sep"></div>
    <div id="menuItem_CloseCurrent" data-options="iconCls:'icon-nowClose'">关闭当前</div>
    <div class="menu-sep"></div>
    <div id="menuItem_CloseOther" data-options="iconCls:'icon-allClose'">关闭其它</div>
    <div class="menu-sep"></div>  
    <div id="menuItem_CloseAll" data-options="iconCls:'icon-delete2'">全部关闭</div>
</div>

@*我的桌面选项卡菜单*@  
<div id="divDesktopTabsMenu" data-options="duration:600" class="easyui-menu" style="width:120px !important;">
    <div id="menuItem_Refresh" data-options="iconCls:'icon-reload'">刷 新</div>
    <div id="menuItem_CloseOther" data-options="iconCls:'icon-allClose'">关闭其它</div>
</div>
<style type="text/css">
    #divTabsMenu .icon-nowClose {
        background: url("../../Css/images/icon/nowClose.png")no-repeat center center !important;
        background-size: 95% !important;
    }
    #divTabsMenu .icon-allClose, #menuItem_CloseOther .icon-allClose {
        background: url("../../Css/images/icon/allClose.png")no-repeat center center !important;
        background-size: 95% !important;
    }
</style>