<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="17.5" targetFramework="net45" />
  <package id="AutoMapper" version="1.0.0" targetFramework="net45" />
  <package id="AutoMapper.Net4" version="1.0.0" targetFramework="net45" />
  <package id="BT.Manage.Core" version="1.0.0.25" targetFramework="net45" />
  <package id="BT.Manage.DataAccess" version="1.0.0.7" targetFramework="net45" />
  <package id="BT.Manage.Frame.Base" version="1.0.0.23" targetFramework="net45" />
  <package id="BT.Manage.Frame.Bll" version="1.0.0.3" targetFramework="net45" />
  <package id="BT.Manage.Frame.Dal" version="1.0.0.2" targetFramework="net45" />
  <package id="BT.Manage.Frame.Data" version="1.0.0.9" targetFramework="net45" />
  <package id="BT.Manage.Frame.Model" version="1.0.0.20" targetFramework="net45" />
  <package id="BT.Manage.Frame.Pay" version="1.0.0.98" targetFramework="net45" />
  <package id="BT.Manage.SendMessage" version="1.0.0.9" targetFramework="net45" />
  <package id="BT.Manage.Tools" version="1.0.0.15" targetFramework="net45" />
  <package id="bwch.BaseHelper" version="1.0.0" targetFramework="net45" />
  <package id="Hangfire" version="1.7.3" targetFramework="net45" />
  <package id="Hangfire.Core" version="1.7.3" targetFramework="net45" />
  <package id="Hangfire.Dashboard.Authorization" version="2.1.0" targetFramework="net45" />
  <package id="Hangfire.SqlServer" version="1.7.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="4.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NLog" version="4.4.11" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.11" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.11" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>