@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
   
    <title>TextPage</title>
    <script type="text/javascript">
        function calculat() {
            var v1 = $("#filetobx1");
          
        }
    </script>
</head>
<body>
    <div>
        文件：<input type="file" multiple="multiple" id="filetobx1" />
       
        <input type="button" id="btn_confirm" onclick="calculat()" value="提交"/>
    </div>
</body>
</html>
