/*.esriPopup .titleButton.maximize {
                                display: none;
                            }  

                            .title {
                                background-color:#b8860b;
                                padding: 0px;
                                font-weight: bold;
                                font-size: 16px;
                                margin-left: -6px;
                                text-indent: 10px;
                            }

                            .esriPopup.titlePane {
                                background-color: #3399FF;
                                padding: 0px;
                                font-weight: bold;
                                font-size: 8px;
                                margin-left: 0px;
                                border: hidden;
                            }*/
