*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top: 4px;padding-bottom: 4px;}
.easyui-accordion ul li div.hover{border:1px dashed black; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}



.icon{padding:2px 9px; background:url(../images/tabicons.png) no-repeat; }
.icon-sys{ background:url(../images/directory.png) no-repeat;}
.icon-add{background-position: -19px 0px;}
.icon-nav{background-position: -100px -18px;}
.icon-users{background-position: -100px -480px;}
.icon-role{background-position: -360px -200px;}
.icon-set{background-position: -380px -200px;}
.icon-log{background-position: -380px -80px;}

.panel-header {
    filter: alpha(opacity=100) !important;
}
.panel-tool-close{
background:rgba(0, 0, 0, 0) url(../../../../Css/images/panel_tools_close.png) no-repeat center center !important;
    }




/*查询-重置按钮高度调整*/

#formQuery .button .easyui-linkbutton.l-btn.l-btn-small {
    border: 1px solid #34baf6;
     border-radius: 2px !important;
    /* margin-left: 11px !important;*/
     background:#fff;
     color: #34baf6;
     outline:none;
     transition: background 0.5s;
}
#formQuery .button .easyui-linkbutton.l-btn.l-btn-small:hover {
    background:#34baf6;
     color: #fff;
      transition-duration: 0.5s;
}
    #formQuery .button .easyui-linkbutton.l-btn.l-btn-small .l-btn-icon {
        display:none;
    }


#formQuery .btnIcons .easyui-linkbutton.l-btn.l-btn-small .l-btn-icon.icon-takeOut,#formQuery .btnIcons .easyui-linkbutton.l-btn.l-btn-small .l-btn-icon.icon-mapChange {
    display:inline-block;
}
#formQuery .l-btn-icon-left .l-btn-text {
    margin-left:4px;
}
/*#formQuery .btnIcons .easyui-linkbutton.l-btn.l-btn-small .l-btn-text {
    margin-left:24px;
}*/
#formQuery .button a:nth-child(1) .l-btn-left .icon-search {
    background:url(images/icon/icon-preview.png)no-repeat center center !important;
    background-size:100% !important;
}
#formQuery .button a:nth-child(2) .l-btn-left .icon-remove {
    background:url(images/icon/icon-refresh.png)no-repeat center center !important;
    background-size:95% !important;
}
#formQuery .button a:nth-child(2) .l-btn-left .icon-search {
    background:url(images/icon/icon-refresh.png)no-repeat center center !important;
    background-size:95% !important;
} 
#formQuery .button:last-child .l-btn-small .l-btn-icon-left .icon-remove {
      background:url(images/icon/icon-refresh.png)no-repeat center center !important;
     background-size:95% !important; 
}
/*查询-重置按钮高度调整*/


    @media screen and (max-width: 1301px) { 
      .echartTitles {
            font-size:14px;
            font-weight:600;
            text-align:center;
            margin:0 auto;
        }
}
@media screen and (min-width: 1301px) {
 .echartTitles {
        font-size: 18px;
        font-weight: 600;
        text-align:center;
            margin:0 auto;
    }
}

@media screen and (max-height: 780px) {
    #tt {
        max-height:550px;
    }
    #legenddiv,.legendMap {
        max-height:450px;
    }
}
@media screen and (min-height: 780px) { 
	#tt {
        height:auto;
        max-height:700px;
    }
     #legenddiv ,.legendMap{
        height:auto;
        max-height:660px;
    }
}
@media screen and (max-height: 700px) {
     #tt {
        max-height:500px;
    }
    #legenddiv,.legendMap {
        max-height:440px;
    }
}
@media screen and (max-height: 620px) {
     #tt {
        max-height:400px;
    }
    #legenddiv,.legendMap {
        max-height:350px;
    }
}
/*中间表格部分通用样式-阳婷*/
/*#divMainTabs > .tabs-panels.tabs-panels-noborder {
    padding:20px;
}*/
