

.icon-0-0 {
    background: url(icons/icons.png) no-repeat -0px -0px;
}

.icon-0-1 {
    background: url(icons/icons.png) no-repeat -0px -20px;
}

.icon-0-2 {
    background: url(icons/icons.png) no-repeat -0px -40px;
}

.icon-0-3 {
    background: url(icons/icons.png) no-repeat -0px -60px;
}

.icon-0-4 {
    background: url(icons/icons.png) no-repeat -0px -80px;
}

.icon-0-5 {
    background: url(icons/icons.png) no-repeat -0px -100px;
}

.icon-0-6 {
    background: url(icons/icons.png) no-repeat -0px -120px;
}

.icon-0-7 {
    background: url(icons/icons.png) no-repeat -0px -140px;
}

.icon-0-8 {
    background: url(icons/icons.png) no-repeat -0px -160px;
}

.icon-0-9 {
    background: url(icons/icons.png) no-repeat -0px -180px;
}

.icon-0-10 {
    background: url(icons/icons.png) no-repeat -0px -200px;
}

.icon-0-11 {
    background: url(icons/icons.png) no-repeat -0px -220px;
}

.icon-0-12 {
    background: url(icons/icons.png) no-repeat -0px -240px;
}

.icon-0-13 {
    background: url(icons/icons.png) no-repeat -0px -260px;
}

.icon-0-14 {
    background: url(icons/icons.png) no-repeat -0px -280px;
}

.icon-0-15 {
    background: url(icons/icons.png) no-repeat -0px -300px;
}

.icon-0-16 {
    background: url(icons/icons.png) no-repeat -0px -320px;
}

.icon-0-17 {
    background: url(icons/icons.png) no-repeat -0px -340px;
}

.icon-0-18 {
    background: url(icons/icons.png) no-repeat -0px -360px;
}

.icon-0-19 {
    background: url(icons/icons.png) no-repeat -0px -380px;
}

.icon-0-20 {
    background: url(icons/icons.png) no-repeat -0px -400px;
}

.icon-0-21 {
    background: url(icons/icons.png) no-repeat -0px -420px;
}

.icon-0-22 {
    background: url(icons/icons.png) no-repeat -0px -440px;
}

.icon-0-23 {
    background: url(icons/icons.png) no-repeat -0px -460px;
}

.icon-0-24 {
    background: url(icons/icons.png) no-repeat -0px -480px;
}

.icon-1-0 {
    background: url(icons/icons.png) no-repeat -20px -0px;
}

.icon-1-1 {
    background: url(icons/icons.png) no-repeat -20px -20px;
}

.icon-1-2 {
    background: url(icons/icons.png) no-repeat -20px -40px;
}

.icon-1-3 {
    background: url(icons/icons.png) no-repeat -20px -60px;
}

.icon-1-4 {
    background: url(icons/icons.png) no-repeat -20px -80px;
}

.icon-1-5 {
    background: url(icons/icons.png) no-repeat -20px -100px;
}

.icon-1-6 {
    background: url(icons/icons.png) no-repeat -20px -120px;
}

.icon-1-7 {
    background: url(icons/icons.png) no-repeat -20px -140px;
}

.icon-1-8 {
    background: url(icons/icons.png) no-repeat -20px -160px;
}

.icon-1-9 {
    background: url(icons/icons.png) no-repeat -20px -180px;
}

.icon-1-10 {
    background: url(icons/icons.png) no-repeat -20px -200px;
}

.icon-1-11 {
    background: url(icons/icons.png) no-repeat -20px -220px;
}

.icon-1-12 {
    background: url(icons/icons.png) no-repeat -20px -240px;
}

.icon-1-13 {
    background: url(icons/icons.png) no-repeat -20px -260px;
}

.icon-1-14 {
    background: url(icons/icons.png) no-repeat -20px -280px;
}

.icon-1-15 {
    background: url(icons/icons.png) no-repeat -20px -300px;
}

.icon-1-16 {
    background: url(icons/icons.png) no-repeat -20px -320px;
}

.icon-1-17 {
    background: url(icons/icons.png) no-repeat -20px -340px;
}

.icon-1-18 {
    background: url(icons/icons.png) no-repeat -20px -360px;
}

.icon-1-19 {
    background: url(icons/icons.png) no-repeat -20px -380px;
}

.icon-1-20 {
    background: url(icons/icons.png) no-repeat -20px -400px;
}

.icon-1-21 {
    background: url(icons/icons.png) no-repeat -20px -420px;
}

.icon-1-22 {
    background: url(icons/icons.png) no-repeat -20px -440px;
}

.icon-1-23 {
    background: url(icons/icons.png) no-repeat -20px -460px;
}

.icon-1-24 {
    background: url(icons/icons.png) no-repeat -20px -480px;
}

.icon-2-0 {
    background: url(icons/icons.png) no-repeat -40px -0px;
}

.icon-2-1 {
    background: url(icons/icons.png) no-repeat -40px -20px;
}

.icon-2-2 {
    background: url(icons/icons.png) no-repeat -40px -40px;
}

.icon-2-3 {
    background: url(icons/icons.png) no-repeat -40px -60px;
}

.icon-2-4 {
    background: url(icons/icons.png) no-repeat -40px -80px;
}

.icon-2-5 {
    background: url(icons/icons.png) no-repeat -40px -100px;
}

.icon-2-6 {
    background: url(icons/icons.png) no-repeat -40px -120px;
}

.icon-2-7 {
    background: url(icons/icons.png) no-repeat -40px -140px;
}

.icon-2-8 {
    background: url(icons/icons.png) no-repeat -40px -160px;
}

.icon-2-9 {
    background: url(icons/icons.png) no-repeat -40px -180px;
}

.icon-2-10 {
    background: url(icons/icons.png) no-repeat -40px -200px;
}

.icon-2-11 {
    background: url(icons/icons.png) no-repeat -40px -220px;
}

.icon-2-12 {
    background: url(icons/icons.png) no-repeat -40px -240px;
}

.icon-2-13 {
    background: url(icons/icons.png) no-repeat -40px -260px;
}

.icon-2-14 {
    background: url(icons/icons.png) no-repeat -40px -280px;
}

.icon-2-15 {
    background: url(icons/icons.png) no-repeat -40px -300px;
}

.icon-2-16 {
    background: url(icons/icons.png) no-repeat -40px -320px;
}

.icon-2-17 {
    background: url(icons/icons.png) no-repeat -40px -340px;
}

.icon-2-18 {
    background: url(icons/icons.png) no-repeat -40px -360px;
}

.icon-2-19 {
    background: url(icons/icons.png) no-repeat -40px -380px;
}

.icon-2-20 {
    background: url(icons/icons.png) no-repeat -40px -400px;
}

.icon-2-21 {
    background: url(icons/icons.png) no-repeat -40px -420px;
}

.icon-2-22 {
    background: url(icons/icons.png) no-repeat -40px -440px;
}

.icon-2-23 {
    background: url(icons/icons.png) no-repeat -40px -460px;
}

.icon-2-24 {
    background: url(icons/icons.png) no-repeat -40px -480px;
}

.icon-3-0 {
    background: url(icons/icons.png) no-repeat -60px -0px;
}

.icon-3-1 {
    background: url(icons/icons.png) no-repeat -60px -20px;
}

.icon-3-2 {
    background: url(icons/icons.png) no-repeat -60px -40px;
}

.icon-3-3 {
    background: url(icons/icons.png) no-repeat -60px -60px;
}

.icon-3-4 {
    background: url(icons/icons.png) no-repeat -60px -80px;
}

.icon-3-5 {
    background: url(icons/icons.png) no-repeat -60px -100px;
}

.icon-3-6 {
    background: url(icons/icons.png) no-repeat -60px -120px;
}

.icon-3-7 {
    background: url(icons/icons.png) no-repeat -60px -140px;
}

.icon-3-8 {
    background: url(icons/icons.png) no-repeat -60px -160px;
}

.icon-3-9 {
    background: url(icons/icons.png) no-repeat -60px -180px;
}

.icon-3-10 {
    background: url(icons/icons.png) no-repeat -60px -200px;
}

.icon-3-11 {
    background: url(icons/icons.png) no-repeat -60px -220px;
}

.icon-3-12 {
    background: url(icons/icons.png) no-repeat -60px -240px;
}

.icon-3-13 {
    background: url(icons/icons.png) no-repeat -60px -260px;
}

.icon-3-14 {
    background: url(icons/icons.png) no-repeat -60px -280px;
}

.icon-3-15 {
    background: url(icons/icons.png) no-repeat -60px -300px;
}

.icon-3-16 {
    background: url(icons/icons.png) no-repeat -60px -320px;
}

.icon-3-17 {
    background: url(icons/icons.png) no-repeat -60px -340px;
}

.icon-3-18 {
    background: url(icons/icons.png) no-repeat -60px -360px;
}

.icon-3-19 {
    background: url(icons/icons.png) no-repeat -60px -380px;
}

.icon-3-20 {
    background: url(icons/icons.png) no-repeat -60px -400px;
}

.icon-3-21 {
    background: url(icons/icons.png) no-repeat -60px -420px;
}

.icon-3-22 {
    background: url(icons/icons.png) no-repeat -60px -440px;
}

.icon-3-23 {
    background: url(icons/icons.png) no-repeat -60px -460px;
}

.icon-3-24 {
    background: url(icons/icons.png) no-repeat -60px -480px;
}

.icon-4-0 {
    background: url(icons/icons.png) no-repeat -80px -0px;
}

.icon-4-1 {
    background: url(icons/icons.png) no-repeat -80px -20px;
}

.icon-4-2 {
    background: url(icons/icons.png) no-repeat -80px -40px;
}

.icon-4-3 {
    background: url(icons/icons.png) no-repeat -80px -60px;
}

.icon-4-4 {
    background: url(icons/icons.png) no-repeat -80px -80px;
}

.icon-4-5 {
    background: url(icons/icons.png) no-repeat -80px -100px;
}

.icon-4-6 {
    background: url(icons/icons.png) no-repeat -80px -120px;
}

.icon-4-7 {
    background: url(icons/icons.png) no-repeat -80px -140px;
}

.icon-4-8 {
    background: url(icons/icons.png) no-repeat -80px -160px;
}

.icon-4-9 {
    background: url(icons/icons.png) no-repeat -80px -180px;
}

.icon-4-10 {
    background: url(icons/icons.png) no-repeat -80px -200px;
}

.icon-4-11 {
    background: url(icons/icons.png) no-repeat -80px -220px;
}

.icon-4-12 {
    background: url(icons/icons.png) no-repeat -80px -240px;
}

.icon-4-13 {
    background: url(icons/icons.png) no-repeat -80px -260px;
}

.icon-4-14 {
    background: url(icons/icons.png) no-repeat -80px -280px;
}

.icon-4-15 {
    background: url(icons/icons.png) no-repeat -80px -300px;
}

.icon-4-16 {
    background: url(icons/icons.png) no-repeat -80px -320px;
}

.icon-4-17 {
    background: url(icons/icons.png) no-repeat -80px -340px;
}

.icon-4-18 {
    background: url(icons/icons.png) no-repeat -80px -360px;
}

.icon-4-19 {
    background: url(icons/icons.png) no-repeat -80px -380px;
}

.icon-4-20 {
    background: url(icons/icons.png) no-repeat -80px -400px;
}

.icon-4-21 {
    background: url(icons/icons.png) no-repeat -80px -420px;
}

.icon-4-22 {
    background: url(icons/icons.png) no-repeat -80px -440px;
}

.icon-4-23 {
    background: url(icons/icons.png) no-repeat -80px -460px;
}

.icon-4-24 {
    background: url(icons/icons.png) no-repeat -80px -480px;
}

.icon-5-0 {
    background: url(icons/icons.png) no-repeat -100px -0px;
}

.icon-5-1 {
    background: url(icons/icons.png) no-repeat -100px -20px;
}

.icon-5-2 {
    background: url(icons/icons.png) no-repeat -100px -40px;
}

.icon-5-3 {
    background: url(icons/icons.png) no-repeat -100px -60px;
}

.icon-5-4 {
    background: url(icons/icons.png) no-repeat -100px -80px;
}

.icon-5-5 {
    background: url(icons/icons.png) no-repeat -100px -100px;
}

.icon-5-6 {
    background: url(icons/icons.png) no-repeat -100px -120px;
}

.icon-5-7 {
    background: url(icons/icons.png) no-repeat -100px -140px;
}

.icon-5-8 {
    background: url(icons/icons.png) no-repeat -100px -160px;
}

.icon-5-9 {
    background: url(icons/icons.png) no-repeat -100px -180px;
}

.icon-5-10 {
    background: url(icons/icons.png) no-repeat -100px -200px;
}

.icon-5-11 {
    background: url(icons/icons.png) no-repeat -100px -220px;
}

.icon-5-12 {
    background: url(icons/icons.png) no-repeat -100px -240px;
}

.icon-5-13 {
    background: url(icons/icons.png) no-repeat -100px -260px;
}

.icon-5-14 {
    background: url(icons/icons.png) no-repeat -100px -280px;
}

.icon-5-15 {
    background: url(icons/icons.png) no-repeat -100px -300px;
}

.icon-5-16 {
    background: url(icons/icons.png) no-repeat -100px -320px;
}

.icon-5-17 {
    background: url(icons/icons.png) no-repeat -100px -340px;
}

.icon-5-18 {
    background: url(icons/icons.png) no-repeat -100px -360px;
}

.icon-5-19 {
    background: url(icons/icons.png) no-repeat -100px -380px;
}

.icon-5-20 {
    background: url(icons/icons.png) no-repeat -100px -400px;
}

.icon-5-21 {
    background: url(icons/icons.png) no-repeat -100px -420px;
}

.icon-5-22 {
    background: url(icons/icons.png) no-repeat -100px -440px;
}

.icon-5-23 {
    background: url(icons/icons.png) no-repeat -100px -460px;
}

.icon-5-24 {
    background: url(icons/icons.png) no-repeat -100px -480px;
}

.icon-6-0 {
    background: url(icons/icons.png) no-repeat -120px -0px;
}

.icon-6-1 {
    background: url(icons/icons.png) no-repeat -120px -20px;
}

.icon-6-2 {
    background: url(icons/icons.png) no-repeat -120px -40px;
}

.icon-6-3 {
    background: url(icons/icons.png) no-repeat -120px -60px;
}

.icon-6-4 {
    background: url(icons/icons.png) no-repeat -120px -80px;
}

.icon-6-5 {
    background: url(icons/icons.png) no-repeat -120px -100px;
}

.icon-6-6 {
    background: url(icons/icons.png) no-repeat -120px -120px;
}

.icon-6-7 {
    background: url(icons/icons.png) no-repeat -120px -140px;
}

.icon-6-8 {
    background: url(icons/icons.png) no-repeat -120px -160px;
}

.icon-6-9 {
    background: url(icons/icons.png) no-repeat -120px -180px;
}

.icon-6-10 {
    background: url(icons/icons.png) no-repeat -120px -200px;
}

.icon-6-11 {
    background: url(icons/icons.png) no-repeat -120px -220px;
}

.icon-6-12 {
    background: url(icons/icons.png) no-repeat -120px -240px;
}

.icon-6-13 {
    background: url(icons/icons.png) no-repeat -120px -260px;
}

.icon-6-14 {
    background: url(icons/icons.png) no-repeat -120px -280px;
}

.icon-6-15 {
    background: url(icons/icons.png) no-repeat -120px -300px;
}

.icon-6-16 {
    background: url(icons/icons.png) no-repeat -120px -320px;
}

.icon-6-17 {
    background: url(icons/icons.png) no-repeat -120px -340px;
}

.icon-6-18 {
    background: url(icons/icons.png) no-repeat -120px -360px;
}

.icon-6-19 {
    background: url(icons/icons.png) no-repeat -120px -380px;
}

.icon-6-20 {
    background: url(icons/icons.png) no-repeat -120px -400px;
}

.icon-6-21 {
    background: url(icons/icons.png) no-repeat -120px -420px;
}

.icon-6-22 {
    background: url(icons/icons.png) no-repeat -120px -440px;
}

.icon-6-23 {
    background: url(icons/icons.png) no-repeat -120px -460px;
}

.icon-6-24 {
    background: url(icons/icons.png) no-repeat -120px -480px;
}

.icon-7-0 {
    background: url(icons/icons.png) no-repeat -140px -0px;
}

.icon-7-1 {
    background: url(icons/icons.png) no-repeat -140px -20px;
}

.icon-7-2 {
    background: url(icons/icons.png) no-repeat -140px -40px;
}

.icon-7-3 {
    background: url(icons/icons.png) no-repeat -140px -60px;
}

.icon-7-4 {
    background: url(icons/icons.png) no-repeat -140px -80px;
}

.icon-7-5 {
    background: url(icons/icons.png) no-repeat -140px -100px;
}

.icon-7-6 {
    background: url(icons/icons.png) no-repeat -140px -120px;
}

.icon-7-7 {
    background: url(icons/icons.png) no-repeat -140px -140px;
}

.icon-7-8 {
    background: url(icons/icons.png) no-repeat -140px -160px;
}

.icon-7-9 {
    background: url(icons/icons.png) no-repeat -140px -180px;
}

.icon-7-10 {
    background: url(icons/icons.png) no-repeat -140px -200px;
}

.icon-7-11 {
    background: url(icons/icons.png) no-repeat -140px -220px;
}

.icon-7-12 {
    background: url(icons/icons.png) no-repeat -140px -240px;
}

.icon-7-13 {
    background: url(icons/icons.png) no-repeat -140px -260px;
}

.icon-7-14 {
    background: url(icons/icons.png) no-repeat -140px -280px;
}

.icon-7-15 {
    background: url(icons/icons.png) no-repeat -140px -300px;
}

.icon-7-16 {
    background: url(icons/icons.png) no-repeat -140px -320px;
}

.icon-7-17 {
    background: url(icons/icons.png) no-repeat -140px -340px;
}

.icon-7-18 {
    background: url(icons/icons.png) no-repeat -140px -360px;
}

.icon-7-19 {
    background: url(icons/icons.png) no-repeat -140px -380px;
}

.icon-7-20 {
    background: url(icons/icons.png) no-repeat -140px -400px;
}

.icon-7-21 {
    background: url(icons/icons.png) no-repeat -140px -420px;
}

.icon-7-22 {
    background: url(icons/icons.png) no-repeat -140px -440px;
}

.icon-7-23 {
    background: url(icons/icons.png) no-repeat -140px -460px;
}

.icon-7-24 {
    background: url(icons/icons.png) no-repeat -140px -480px;
}

.icon-8-0 {
    background: url(icons/icons.png) no-repeat -160px -0px;
}

.icon-8-1 {
    background: url(icons/icons.png) no-repeat -160px -20px;
}

.icon-8-2 {
    background: url(icons/icons.png) no-repeat -160px -40px;
}

.icon-8-3 {
    background: url(icons/icons.png) no-repeat -160px -60px;
}

.icon-8-4 {
    background: url(icons/icons.png) no-repeat -160px -80px;
}

.icon-8-5 {
    background: url(icons/icons.png) no-repeat -160px -100px;
}

.icon-8-6 {
    background: url(icons/icons.png) no-repeat -160px -120px;
}

.icon-8-7 {
    background: url(icons/icons.png) no-repeat -160px -140px;
}

.icon-8-8 {
    background: url(icons/icons.png) no-repeat -160px -160px;
}

.icon-8-9 {
    background: url(icons/icons.png) no-repeat -160px -180px;
}

.icon-8-10 {
    background: url(icons/icons.png) no-repeat -160px -200px;
}

.icon-8-11 {
    background: url(icons/icons.png) no-repeat -160px -220px;
}

.icon-8-12 {
    background: url(icons/icons.png) no-repeat -160px -240px;
}

.icon-8-13 {
    background: url(icons/icons.png) no-repeat -160px -260px;
}

.icon-8-14 {
    background: url(icons/icons.png) no-repeat -160px -280px;
}

.icon-8-15 {
    background: url(icons/icons.png) no-repeat -160px -300px;
}

.icon-8-16 {
    background: url(icons/icons.png) no-repeat -160px -320px;
}

.icon-8-17 {
    background: url(icons/icons.png) no-repeat -160px -340px;
}

.icon-8-18 {
    background: url(icons/icons.png) no-repeat -160px -360px;
}

.icon-8-19 {
    background: url(icons/icons.png) no-repeat -160px -380px;
}

.icon-8-20 {
    background: url(icons/icons.png) no-repeat -160px -400px;
}

.icon-8-21 {
    background: url(icons/icons.png) no-repeat -160px -420px;
}

.icon-8-22 {
    background: url(icons/icons.png) no-repeat -160px -440px;
}

.icon-8-23 {
    background: url(icons/icons.png) no-repeat -160px -460px;
}

.icon-8-24 {
    background: url(icons/icons.png) no-repeat -160px -480px;
}

.icon-9-0 {
    background: url(icons/icons.png) no-repeat -180px -0px;
}

.icon-9-1 {
    background: url(icons/icons.png) no-repeat -180px -20px;
}

.icon-9-2 {
    background: url(icons/icons.png) no-repeat -180px -40px;
}

.icon-9-3 {
    background: url(icons/icons.png) no-repeat -180px -60px;
}

.icon-9-4 {
    background: url(icons/icons.png) no-repeat -180px -80px;
}

.icon-9-5 {
    background: url(icons/icons.png) no-repeat -180px -100px;
}

.icon-9-6 {
    background: url(icons/icons.png) no-repeat -180px -120px;
}

.icon-9-7 {
    background: url(icons/icons.png) no-repeat -180px -140px;
}

.icon-9-8 {
    background: url(icons/icons.png) no-repeat -180px -160px;
}

.icon-9-9 {
    background: url(icons/icons.png) no-repeat -180px -180px;
}

.icon-9-10 {
    background: url(icons/icons.png) no-repeat -180px -200px;
}

.icon-9-11 {
    background: url(icons/icons.png) no-repeat -180px -220px;
}

.icon-9-12 {
    background: url(icons/icons.png) no-repeat -180px -240px;
}

.icon-9-13 {
    background: url(icons/icons.png) no-repeat -180px -260px;
}

.icon-9-14 {
    background: url(icons/icons.png) no-repeat -180px -280px;
}

.icon-9-15 {
    background: url(icons/icons.png) no-repeat -180px -300px;
}

.icon-9-16 {
    background: url(icons/icons.png) no-repeat -180px -320px;
}

.icon-9-17 {
    background: url(icons/icons.png) no-repeat -180px -340px;
}

.icon-9-18 {
    background: url(icons/icons.png) no-repeat -180px -360px;
}

.icon-9-19 {
    background: url(icons/icons.png) no-repeat -180px -380px;
}

.icon-9-20 {
    background: url(icons/icons.png) no-repeat -180px -400px;
}

.icon-9-21 {
    background: url(icons/icons.png) no-repeat -180px -420px;
}

.icon-9-22 {
    background: url(icons/icons.png) no-repeat -180px -440px;
}

.icon-9-23 {
    background: url(icons/icons.png) no-repeat -180px -460px;
}

.icon-9-24 {
    background: url(icons/icons.png) no-repeat -180px -480px;
}

.icon-10-0 {
    background: url(icons/icons.png) no-repeat -200px -0px;
}

.icon-10-1 {
    background: url(icons/icons.png) no-repeat -200px -20px;
}

.icon-10-2 {
    background: url(icons/icons.png) no-repeat -200px -40px;
}

.icon-10-3 {
    background: url(icons/icons.png) no-repeat -200px -60px;
}

.icon-10-4 {
    background: url(icons/icons.png) no-repeat -200px -80px;
}

.icon-10-5 {
    background: url(icons/icons.png) no-repeat -200px -100px;
}

.icon-10-6 {
    background: url(icons/icons.png) no-repeat -200px -120px;
}

.icon-10-7 {
    background: url(icons/icons.png) no-repeat -200px -140px;
}

.icon-10-8 {
    background: url(icons/icons.png) no-repeat -200px -160px;
}

.icon-10-9 {
    background: url(icons/icons.png) no-repeat -200px -180px;
}

.icon-10-10 {
    background: url(icons/icons.png) no-repeat -200px -200px;
}

.icon-10-11 {
    background: url(icons/icons.png) no-repeat -200px -220px;
}

.icon-10-12 {
    background: url(icons/icons.png) no-repeat -200px -240px;
}

.icon-10-13 {
    background: url(icons/icons.png) no-repeat -200px -260px;
}

.icon-10-14 {
    background: url(icons/icons.png) no-repeat -200px -280px;
}

.icon-10-15 {
    background: url(icons/icons.png) no-repeat -200px -300px;
}

.icon-10-16 {
    background: url(icons/icons.png) no-repeat -200px -320px;
}

.icon-10-17 {
    background: url(icons/icons.png) no-repeat -200px -340px;
}

.icon-10-18 {
    background: url(icons/icons.png) no-repeat -200px -360px;
}

.icon-10-19 {
    background: url(icons/icons.png) no-repeat -200px -380px;
}

.icon-10-20 {
    background: url(icons/icons.png) no-repeat -200px -400px;
}

.icon-10-21 {
    background: url(icons/icons.png) no-repeat -200px -420px;
}

.icon-10-22 {
    background: url(icons/icons.png) no-repeat -200px -440px;
}

.icon-10-23 {
    background: url(icons/icons.png) no-repeat -200px -460px;
}

.icon-10-24 {
    background: url(icons/icons.png) no-repeat -200px -480px;
}

.icon-11-0 {
    background: url(icons/icons.png) no-repeat -220px -0px;
}

.icon-11-1 {
    background: url(icons/icons.png) no-repeat -220px -20px;
}

.icon-11-2 {
    background: url(icons/icons.png) no-repeat -220px -40px;
}

.icon-11-3 {
    background: url(icons/icons.png) no-repeat -220px -60px;
}

.icon-11-4 {
    background: url(icons/icons.png) no-repeat -220px -80px;
}

.icon-11-5 {
    background: url(icons/icons.png) no-repeat -220px -100px;
}

.icon-11-6 {
    background: url(icons/icons.png) no-repeat -220px -120px;
}

.icon-11-7 {
    background: url(icons/icons.png) no-repeat -220px -140px;
}

.icon-11-8 {
    background: url(icons/icons.png) no-repeat -220px -160px;
}

.icon-11-9 {
    background: url(icons/icons.png) no-repeat -220px -180px;
}

.icon-11-10 {
    background: url(icons/icons.png) no-repeat -220px -200px;
}

.icon-11-11 {
    background: url(icons/icons.png) no-repeat -220px -220px;
}

.icon-11-12 {
    background: url(icons/icons.png) no-repeat -220px -240px;
}

.icon-11-13 {
    background: url(icons/icons.png) no-repeat -220px -260px;
}

.icon-11-14 {
    background: url(icons/icons.png) no-repeat -220px -280px;
}

.icon-11-15 {
    background: url(icons/icons.png) no-repeat -220px -300px;
}

.icon-11-16 {
    background: url(icons/icons.png) no-repeat -220px -320px;
}

.icon-11-17 {
    background: url(icons/icons.png) no-repeat -220px -340px;
}

.icon-11-18 {
    background: url(icons/icons.png) no-repeat -220px -360px;
}

.icon-11-19 {
    background: url(icons/icons.png) no-repeat -220px -380px;
}

.icon-11-20 {
    background: url(icons/icons.png) no-repeat -220px -400px;
}

.icon-11-21 {
    background: url(icons/icons.png) no-repeat -220px -420px;
}

.icon-11-22 {
    background: url(icons/icons.png) no-repeat -220px -440px;
}

.icon-11-23 {
    background: url(icons/icons.png) no-repeat -220px -460px;
}

.icon-11-24 {
    background: url(icons/icons.png) no-repeat -220px -480px;
}

.icon-12-0 {
    background: url(icons/icons.png) no-repeat -240px -0px;
}

.icon-12-1 {
    background: url(icons/icons.png) no-repeat -240px -20px;
}

.icon-12-2 {
    background: url(icons/icons.png) no-repeat -240px -40px;
}

.icon-12-3 {
    background: url(icons/icons.png) no-repeat -240px -60px;
}

.icon-12-4 {
    background: url(icons/icons.png) no-repeat -240px -80px;
}

.icon-12-5 {
    background: url(icons/icons.png) no-repeat -240px -100px;
}

.icon-12-6 {
    background: url(icons/icons.png) no-repeat -240px -120px;
}

.icon-12-7 {
    background: url(icons/icons.png) no-repeat -240px -140px;
}

.icon-12-8 {
    background: url(icons/icons.png) no-repeat -240px -160px;
}

.icon-12-9 {
    background: url(icons/icons.png) no-repeat -240px -180px;
}

.icon-12-10 {
    background: url(icons/icons.png) no-repeat -240px -200px;
}

.icon-12-11 {
    background: url(icons/icons.png) no-repeat -240px -220px;
}

.icon-12-12 {
    background: url(icons/icons.png) no-repeat -240px -240px;
}

.icon-12-13 {
    background: url(icons/icons.png) no-repeat -240px -260px;
}

.icon-12-14 {
    background: url(icons/icons.png) no-repeat -240px -280px;
}

.icon-12-15 {
    background: url(icons/icons.png) no-repeat -240px -300px;
}

.icon-12-16 {
    background: url(icons/icons.png) no-repeat -240px -320px;
}

.icon-12-17 {
    background: url(icons/icons.png) no-repeat -240px -340px;
}

.icon-12-18 {
    background: url(icons/icons.png) no-repeat -240px -360px;
}

.icon-12-19 {
    background: url(icons/icons.png) no-repeat -240px -380px;
}

.icon-12-20 {
    background: url(icons/icons.png) no-repeat -240px -400px;
}

.icon-12-21 {
    background: url(icons/icons.png) no-repeat -240px -420px;
}

.icon-12-22 {
    background: url(icons/icons.png) no-repeat -240px -440px;
}

.icon-12-23 {
    background: url(icons/icons.png) no-repeat -240px -460px;
}

.icon-12-24 {
    background: url(icons/icons.png) no-repeat -240px -480px;
}

.icon-13-0 {
    background: url(icons/icons.png) no-repeat -260px -0px;
}

.icon-13-1 {
    background: url(icons/icons.png) no-repeat -260px -20px;
}

.icon-13-2 {
    background: url(icons/icons.png) no-repeat -260px -40px;
}

.icon-13-3 {
    background: url(icons/icons.png) no-repeat -260px -60px;
}

.icon-13-4 {
    background: url(icons/icons.png) no-repeat -260px -80px;
}

.icon-13-5 {
    background: url(icons/icons.png) no-repeat -260px -100px;
}

.icon-13-6 {
    background: url(icons/icons.png) no-repeat -260px -120px;
}

.icon-13-7 {
    background: url(icons/icons.png) no-repeat -260px -140px;
}

.icon-13-8 {
    background: url(icons/icons.png) no-repeat -260px -160px;
}

.icon-13-9 {
    background: url(icons/icons.png) no-repeat -260px -180px;
}

.icon-13-10 {
    background: url(icons/icons.png) no-repeat -260px -200px;
}

.icon-13-11 {
    background: url(icons/icons.png) no-repeat -260px -220px;
}

.icon-13-12 {
    background: url(icons/icons.png) no-repeat -260px -240px;
}

.icon-13-13 {
    background: url(icons/icons.png) no-repeat -260px -260px;
}

.icon-13-14 {
    background: url(icons/icons.png) no-repeat -260px -280px;
}

.icon-13-15 {
    background: url(icons/icons.png) no-repeat -260px -300px;
}

.icon-13-16 {
    background: url(icons/icons.png) no-repeat -260px -320px;
}

.icon-13-17 {
    background: url(icons/icons.png) no-repeat -260px -340px;
}

.icon-13-18 {
    background: url(icons/icons.png) no-repeat -260px -360px;
}

.icon-13-19 {
    background: url(icons/icons.png) no-repeat -260px -380px;
}

.icon-13-20 {
    background: url(icons/icons.png) no-repeat -260px -400px;
}

.icon-13-21 {
    background: url(icons/icons.png) no-repeat -260px -420px;
}

.icon-13-22 {
    background: url(icons/icons.png) no-repeat -260px -440px;
}

.icon-13-23 {
    background: url(icons/icons.png) no-repeat -260px -460px;
}

.icon-13-24 {
    background: url(icons/icons.png) no-repeat -260px -480px;
}

.icon-14-0 {
    background: url(icons/icons.png) no-repeat -280px -0px;
}

.icon-14-1 {
    background: url(icons/icons.png) no-repeat -280px -20px;
}

.icon-14-2 {
    background: url(icons/icons.png) no-repeat -280px -40px;
}

.icon-14-3 {
    background: url(icons/icons.png) no-repeat -280px -60px;
}

.icon-14-4 {
    background: url(icons/icons.png) no-repeat -280px -80px;
}

.icon-14-5 {
    background: url(icons/icons.png) no-repeat -280px -100px;
}

.icon-14-6 {
    background: url(icons/icons.png) no-repeat -280px -120px;
}

.icon-14-7 {
    background: url(icons/icons.png) no-repeat -280px -140px;
}

.icon-14-8 {
    background: url(icons/icons.png) no-repeat -280px -160px;
}

.icon-14-9 {
    background: url(icons/icons.png) no-repeat -280px -180px;
}

.icon-14-10 {
    background: url(icons/icons.png) no-repeat -280px -200px;
}

.icon-14-11 {
    background: url(icons/icons.png) no-repeat -280px -220px;
}

.icon-14-12 {
    background: url(icons/icons.png) no-repeat -280px -240px;
}

.icon-14-13 {
    background: url(icons/icons.png) no-repeat -280px -260px;
}

.icon-14-14 {
    background: url(icons/icons.png) no-repeat -280px -280px;
}

.icon-14-15 {
    background: url(icons/icons.png) no-repeat -280px -300px;
}

.icon-14-16 {
    background: url(icons/icons.png) no-repeat -280px -320px;
}

.icon-14-17 {
    background: url(icons/icons.png) no-repeat -280px -340px;
}

.icon-14-18 {
    background: url(icons/icons.png) no-repeat -280px -360px;
}

.icon-14-19 {
    background: url(icons/icons.png) no-repeat -280px -380px;
}

.icon-14-20 {
    background: url(icons/icons.png) no-repeat -280px -400px;
}

.icon-14-21 {
    background: url(icons/icons.png) no-repeat -280px -420px;
}

.icon-14-22 {
    background: url(icons/icons.png) no-repeat -280px -440px;
}

.icon-14-23 {
    background: url(icons/icons.png) no-repeat -280px -460px;
}

.icon-14-24 {
    background: url(icons/icons.png) no-repeat -280px -480px;
}

.icon-15-0 {
    background: url(icons/icons.png) no-repeat -300px -0px;
}

.icon-15-1 {
    background: url(icons/icons.png) no-repeat -300px -20px;
}

.icon-15-2 {
    background: url(icons/icons.png) no-repeat -300px -40px;
}

.icon-15-3 {
    background: url(icons/icons.png) no-repeat -300px -60px;
}

.icon-15-4 {
    background: url(icons/icons.png) no-repeat -300px -80px;
}

.icon-15-5 {
    background: url(icons/icons.png) no-repeat -300px -100px;
}

.icon-15-6 {
    background: url(icons/icons.png) no-repeat -300px -120px;
}

.icon-15-7 {
    background: url(icons/icons.png) no-repeat -300px -140px;
}

.icon-15-8 {
    background: url(icons/icons.png) no-repeat -300px -160px;
}

.icon-15-9 {
    background: url(icons/icons.png) no-repeat -300px -180px;
}

.icon-15-10 {
    background: url(icons/icons.png) no-repeat -300px -200px;
}

.icon-15-11 {
    background: url(icons/icons.png) no-repeat -300px -220px;
}

.icon-15-12 {
    background: url(icons/icons.png) no-repeat -300px -240px;
}

.icon-15-13 {
    background: url(icons/icons.png) no-repeat -300px -260px;
}

.icon-15-14 {
    background: url(icons/icons.png) no-repeat -300px -280px;
}

.icon-15-15 {
    background: url(icons/icons.png) no-repeat -300px -300px;
}

.icon-15-16 {
    background: url(icons/icons.png) no-repeat -300px -320px;
}

.icon-15-17 {
    background: url(icons/icons.png) no-repeat -300px -340px;
}

.icon-15-18 {
    background: url(icons/icons.png) no-repeat -300px -360px;
}

.icon-15-19 {
    background: url(icons/icons.png) no-repeat -300px -380px;
}

.icon-15-20 {
    background: url(icons/icons.png) no-repeat -300px -400px;
}

.icon-15-21 {
    background: url(icons/icons.png) no-repeat -300px -420px;
}

.icon-15-22 {
    background: url(icons/icons.png) no-repeat -300px -440px;
}

.icon-15-23 {
    background: url(icons/icons.png) no-repeat -300px -460px;
}

.icon-15-24 {
    background: url(icons/icons.png) no-repeat -300px -480px;
}

.icon-16-0 {
    background: url(icons/icons.png) no-repeat -320px -0px;
}

.icon-16-1 {
    background: url(icons/icons.png) no-repeat -320px -20px;
}

.icon-16-2 {
    background: url(icons/icons.png) no-repeat -320px -40px;
}

.icon-16-3 {
    background: url(icons/icons.png) no-repeat -320px -60px;
}

.icon-16-4 {
    background: url(icons/icons.png) no-repeat -320px -80px;
}

.icon-16-5 {
    background: url(icons/icons.png) no-repeat -320px -100px;
}

.icon-16-6 {
    background: url(icons/icons.png) no-repeat -320px -120px;
}

.icon-16-7 {
    background: url(icons/icons.png) no-repeat -320px -140px;
}

.icon-16-8 {
    background: url(icons/icons.png) no-repeat -320px -160px;
}

.icon-16-9 {
    background: url(icons/icons.png) no-repeat -320px -180px;
}

.icon-16-10 {
    background: url(icons/icons.png) no-repeat -320px -200px;
}

.icon-16-11 {
    background: url(icons/icons.png) no-repeat -320px -220px;
}

.icon-16-12 {
    background: url(icons/icons.png) no-repeat -320px -240px;
}

.icon-16-13 {
    background: url(icons/icons.png) no-repeat -320px -260px;
}

.icon-16-14 {
    background: url(icons/icons.png) no-repeat -320px -280px;
}

.icon-16-15 {
    background: url(icons/icons.png) no-repeat -320px -300px;
}

.icon-16-16 {
    background: url(icons/icons.png) no-repeat -320px -320px;
}

.icon-16-17 {
    background: url(icons/icons.png) no-repeat -320px -340px;
}

.icon-16-18 {
    background: url(icons/icons.png) no-repeat -320px -360px;
}

.icon-16-19 {
    background: url(icons/icons.png) no-repeat -320px -380px;
}

.icon-16-20 {
    background: url(icons/icons.png) no-repeat -320px -400px;
}

.icon-16-21 {
    background: url(icons/icons.png) no-repeat -320px -420px;
}

.icon-16-22 {
    background: url(icons/icons.png) no-repeat -320px -440px;
}

.icon-16-23 {
    background: url(icons/icons.png) no-repeat -320px -460px;
}

.icon-16-24 {
    background: url(icons/icons.png) no-repeat -320px -480px;
}

.icon-17-0 {
    background: url(icons/icons.png) no-repeat -340px -0px;
}

.icon-17-1 {
    background: url(icons/icons.png) no-repeat -340px -20px;
}

.icon-17-2 {
    background: url(icons/icons.png) no-repeat -340px -40px;
}

.icon-17-3 {
    background: url(icons/icons.png) no-repeat -340px -60px;
}

.icon-17-4 {
    background: url(icons/icons.png) no-repeat -340px -80px;
}

.icon-17-5 {
    background: url(icons/icons.png) no-repeat -340px -100px;
}

.icon-17-6 {
    background: url(icons/icons.png) no-repeat -340px -120px;
}

.icon-17-7 {
    background: url(icons/icons.png) no-repeat -340px -140px;
}

.icon-17-8 {
    background: url(icons/icons.png) no-repeat -340px -160px;
}

.icon-17-9 {
    background: url(icons/icons.png) no-repeat -340px -180px;
}

.icon-17-10 {
    background: url(icons/icons.png) no-repeat -340px -200px;
}

.icon-17-11 {
    background: url(icons/icons.png) no-repeat -340px -220px;
}

.icon-17-12 {
    background: url(icons/icons.png) no-repeat -340px -240px;
}

.icon-17-13 {
    background: url(icons/icons.png) no-repeat -340px -260px;
}

.icon-17-14 {
    background: url(icons/icons.png) no-repeat -340px -280px;
}

.icon-17-15 {
    background: url(icons/icons.png) no-repeat -340px -300px;
}

.icon-17-16 {
    background: url(icons/icons.png) no-repeat -340px -320px;
}

.icon-17-17 {
    background: url(icons/icons.png) no-repeat -340px -340px;
}

.icon-17-18 {
    background: url(icons/icons.png) no-repeat -340px -360px;
}

.icon-17-19 {
    background: url(icons/icons.png) no-repeat -340px -380px;
}

.icon-17-20 {
    background: url(icons/icons.png) no-repeat -340px -400px;
}

.icon-17-21 {
    background: url(icons/icons.png) no-repeat -340px -420px;
}

.icon-17-22 {
    background: url(icons/icons.png) no-repeat -340px -440px;
}

.icon-17-23 {
    background: url(icons/icons.png) no-repeat -340px -460px;
}

.icon-17-24 {
    background: url(icons/icons.png) no-repeat -340px -480px;
}

.icon-18-0 {
    background: url(icons/icons.png) no-repeat -360px -0px;
}

.icon-18-1 {
    background: url(icons/icons.png) no-repeat -360px -20px;
}

.icon-18-2 {
    background: url(icons/icons.png) no-repeat -360px -40px;
}

.icon-18-3 {
    background: url(icons/icons.png) no-repeat -360px -60px;
}

.icon-18-4 {
    background: url(icons/icons.png) no-repeat -360px -80px;
}

.icon-18-5 {
    background: url(icons/icons.png) no-repeat -360px -100px;
}

.icon-18-6 {
    background: url(icons/icons.png) no-repeat -360px -120px;
}

.icon-18-7 {
    background: url(icons/icons.png) no-repeat -360px -140px;
}

.icon-18-8 {
    background: url(icons/icons.png) no-repeat -360px -160px;
}

.icon-18-9 {
    background: url(icons/icons.png) no-repeat -360px -180px;
}

.icon-18-10 {
    background: url(icons/icons.png) no-repeat -360px -200px;
}

.icon-18-11 {
    background: url(icons/icons.png) no-repeat -360px -220px;
}

.icon-18-12 {
    background: url(icons/icons.png) no-repeat -360px -240px;
}

.icon-18-13 {
    background: url(icons/icons.png) no-repeat -360px -260px;
}

.icon-18-14 {
    background: url(icons/icons.png) no-repeat -360px -280px;
}

.icon-18-15 {
    background: url(icons/icons.png) no-repeat -360px -300px;
}

.icon-18-16 {
    background: url(icons/icons.png) no-repeat -360px -320px;
}

.icon-18-17 {
    background: url(icons/icons.png) no-repeat -360px -340px;
}

.icon-18-18 {
    background: url(icons/icons.png) no-repeat -360px -360px;
}

.icon-18-19 {
    background: url(icons/icons.png) no-repeat -360px -380px;
}

.icon-18-20 {
    background: url(icons/icons.png) no-repeat -360px -400px;
}

.icon-18-21 {
    background: url(icons/icons.png) no-repeat -360px -420px;
}

.icon-18-22 {
    background: url(icons/icons.png) no-repeat -360px -440px;
}

.icon-18-23 {
    background: url(icons/icons.png) no-repeat -360px -460px;
}

.icon-18-24 {
    background: url(icons/icons.png) no-repeat -360px -480px;
}

.icon-19-0 {
    background: url(icons/icons.png) no-repeat -380px -0px;
}

.icon-19-1 {
    background: url(icons/icons.png) no-repeat -380px -20px;
}

.icon-19-2 {
    background: url(icons/icons.png) no-repeat -380px -40px;
}

.icon-19-3 {
    background: url(icons/icons.png) no-repeat -380px -60px;
}

.icon-19-4 {
    background: url(icons/icons.png) no-repeat -380px -80px;
}

.icon-19-5 {
    background: url(icons/icons.png) no-repeat -380px -100px;
}

.icon-19-6 {
    background: url(icons/icons.png) no-repeat -380px -120px;
}

.icon-19-7 {
    background: url(icons/icons.png) no-repeat -380px -140px;
}

.icon-19-8 {
    background: url(icons/icons.png) no-repeat -380px -160px;
}

.icon-19-9 {
    background: url(icons/icons.png) no-repeat -380px -180px;
}

.icon-19-10 {
    background: url(icons/icons.png) no-repeat -380px -200px;
}

.icon-19-11 {
    background: url(icons/icons.png) no-repeat -380px -220px;
}

.icon-19-12 {
    background: url(icons/icons.png) no-repeat -380px -240px;
}

.icon-19-13 {
    background: url(icons/icons.png) no-repeat -380px -260px;
}

.icon-19-14 {
    background: url(icons/icons.png) no-repeat -380px -280px;
}

.icon-19-15 {
    background: url(icons/icons.png) no-repeat -380px -300px;
}

.icon-19-16 {
    background: url(icons/icons.png) no-repeat -380px -320px;
}

.icon-19-17 {
    background: url(icons/icons.png) no-repeat -380px -340px;
}

.icon-19-18 {
    background: url(icons/icons.png) no-repeat -380px -360px;
}

.icon-19-19 {
    background: url(icons/icons.png) no-repeat -380px -380px;
}

.icon-19-20 {
    background: url(icons/icons.png) no-repeat -380px -400px;
}

.icon-19-21 {
    background: url(icons/icons.png) no-repeat -380px -420px;
}

.icon-19-22 {
    background: url(icons/icons.png) no-repeat -380px -440px;
}

.icon-19-23 {
    background: url(icons/icons.png) no-repeat -380px -460px;
}

.icon-19-24 {
    background: url(icons/icons.png) no-repeat -380px -480px;
}
