@charset "UTF-8";
ul.mtree {
  opacity: 0;
  margin-left: 0;
}
ul.mtree ul {
  margin-left: 1em;
}
ul.mtree li {
  list-style: none;
}
ul.mtree a {
  display: block;
}
ul.mtree a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.mtree.bubba ul {
  margin-left: 0;
}
ul.mtree.bubba ul li {
  font-size: .9em;
}
ul.mtree.bubba li.mtree-node > a:after {
  content: '›';
  margin-left: .5em;
  font-weight: normal;
}
ul.mtree.bubba li.mtree-node > a {
  font-weight: bold;
  text-transform: upperCase;
}
ul.mtree.bubba > li {
  border-bottom: 1px solid #DDD;
}
ul.mtree.bubba > li:last-child {
  border-bottom: none;
}
ul.mtree.bubba li:last-child > a {
  border: none;
}
ul.mtree.bubba > li.mtree-open > a {
  background: #DDD;
}
ul.mtree.bubba li > a:hover {
  background: #DDD;
}
ul.mtree.bubba li.mtree-active > a {
  background: #FFC000;
  color: #FFF;
}
ul.mtree.bubba a {
  padding: 7px 0px 7px 1em;
}
ul.mtree.bubba li li > a {
  padding-left: 2em;
}
ul.mtree.bubba li li li > a {
  padding-left: 3em;
}
ul.mtree.bubba li li li li > a {
  padding-left: 4em;
}
ul.mtree.bubba li li li li li > a {
  padding-left: 5em;
}

ul.mtree.skinny li {
  font-size: .9em;
}
ul.mtree.skinny a {
  padding: 0px 18px;
  color: #555;
}
ul.mtree.skinny a:hover {
  text-decoration: underline;
}
ul.mtree.skinny li.mtree-node:before {
  float: left;
  margin-left: .5em;
  zoom: .8;
  margin-top: .1em;
  color: #777;
}
ul.mtree.skinny li.mtree-open:before {
  content: '-';
}
ul.mtree.skinny li.mtree-closed:before {
  content: '+';
}
ul.mtree.skinny ul > li:first-child {
  margin-top: .1em;
}
ul.mtree.skinny ul > li:last-child {
  margin-bottom: .3em;
}
ul.mtree.skinny ul a {
  color: #666;
}

ul.mtree.transit {
  background: #ffffff;
}
ul.mtree.transit ul {
  margin-left: 0;
}
ul.mtree.transit ul > li {
  font-size: .9em;
}
ul.mtree.transit li.mtree-node {
  position: relative;
}
ul.mtree.transit li.mtree-node {
  position: relative;
}
ul.mtree.transit li.mtree-node > a:before {
  color: #CCC;
  font-weight: normal;
  position: absolute;
  right: 25px;
}
ul.mtree.transit li.mtree-open > a:before {
  content: url(../../Css/images/menu/bottom.png);
  font-size:26px;
  right: 23px;
  top:0px;
}
ul.mtree.transit li.slideLeft > a:before {
  content: ''!important;
}
ul.mtree.transit li.mtree-closed > a:before {
  content: url(../../Css/images/menu/left.png);
  font-size:18px;
  color: #8aaacd;
  top:5px;
}
ul.mtree.transit ul > li:first-child {
  /*border-top:1px solid #a1a8b0;*/
}
/*ul.mtree.transit li.mtree-open > a {
  background: #222;
}*/
ul.mtree.transit li > a:hover, ul.mtree.transit li.mtree-active > a {
  /*background: #4c8fed;*/
  color: #FFF;
}
 ul.mtree.transit > li > a{
     transition: background 0.7s;
}
ul.mtree.transit > li > a:hover{
    transition-duration: 0.7s;
	background-color: #34baf6;
}
ul.mtree.transit li.mtree-node:last-child > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
ul.mtree.transit>li>a {
  padding: 5px 0px 5px 1.2em;
}
ul.mtree.transit li li > a {
  padding-left: 2.8em;
}
ul.mtree.transit li li li > a {
  padding-left: 3em;
}
ul.mtree.transit li li li li > a {
  padding-left: 3.8em;
}
ul.mtree.transit li li li li li > a {
  padding-left: 4.2em;
}
ul.mtree.jet ul {
  margin-left: 0;
}
ul.mtree.jet li {
  margin-bottom: 1px;
}
ul.mtree.jet li:last-child {
  margin-bottom: 0px;
}
ul.mtree.jet li:first-child {
  margin-top: 1px;
}
ul.mtree.jet li.mtree-active a {
  background: #E3E3E3;
}
ul.mtree.jet li.mtree-active li:last-child > a {
  border-radius: 0px 0px 3px 3px;
}
ul.mtree.jet li.mtree-active > a {
  background: #008cba;
  color: #FFF;
  border-radius: 3px 3px 0px 0px;
}
ul.mtree.jet li > a:hover {
  background: #FFC000;
  color: #FFF;
}
ul.mtree.jet a {
  padding: 5px 0px 5px 1em;
}
ul.mtree.jet li li > a {
  padding-left: 2em;
}
ul.mtree.jet li li li > a {
  padding-left: 3em;
}
ul.mtree.jet li li li li > a {
  padding-left: 4em;
}
ul.mtree.jet li li li li li > a {
  padding-left: 5em;
}

ul.mtree.nix {
  background: none;
}
ul.mtree.nix a {
  display: inline;
}
ul.mtree.nix ul {
  margin-left: 1em;
}
ul.mtree.nix ul > li {
  list-style-position: inside;
}
ul.mtree.nix li {
  list-style: disc;
}

.mtree-demo .mtree {
  background: #EEE;
  margin: 20px auto;
  max-width: 320px;
  border-radius: 3px;
}

.mtree-skin-selector {
  text-align: center;
  background: #EEE;
  padding: 10px 0 15px;
}
.mtree-skin-selector li {
  display: inline-block;
  float: none;
}
.mtree-skin-selector button {
  padding: 5px 10px;
  margin-bottom: 1px;
  background: #BBB;
}
.mtree-skin-selector button:hover {
  background: #999;
}
.mtree-skin-selector button.active {
  background: #999;
  font-weight: bold;
}
.mtree-skin-selector button.csl.active {
  background: #FFC000;
}

/**菜单颜色*/
.mtree-demo .mtree.transit .mtree-node > a > img {
    position:relative;
    top:3px;
    left:-10px;
}
#mtree {
    background-color:rgba(0,0,0,0.1) !important;
    font-size:14px;
}
ul.mtree.transit li.mtree-node li.mtree-node > a:before {
	content: url(../../Css/images/menu/leftc.png);
  /*color: #CCC;*/
  font-weight: normal;
  position: absolute;
  font-size: 16px;
  left: 20px;
  top: 0px;
}
ul.mtree.transit li.mtree-open li.mtree-active> a:before{
	content: url(../../Css/images/menu/checked.png);
    position: absolute;
	left: 23px;
	top: -1px;
}
ul.mtree.transit li.mtree-open li.mtree-open > a:before {
  content: url(../../Css/images/menu/bottom2.png);
  font-size:26px;
  top:-5px;
  left: 16px;
}
ul.mtree.transit li.mtree-open li.mtree-open li.mtree-open> a:before{
	content: url(../../Css/images/menu/checkedWhite.png);
	right: 20px;
	top: 0px;
}
ul.mtree.transit li.mtree-node li.mtree-node li.mtree-node > a:before{
	left: 34px;
	top: 0px;
}
ul.mtree.transit li.mtree-node li.mtree-node li.mtree-open > a:before{
	top: -6px;
}
#mtree > li>a{
    font-size:15px;
}
#mtree > .mtree-node.mtree-open ul li a{
    font-size:13px;
    color:#8aaacd;
}
.secondTree.mtree-level-1 {
    background-color: transparent;
}
#mtree > .mtree-node.mtree-open >ul >.mtree-node.mtree-open ul li a {
    color:#8aaacd;
    font-size:12px;
    /*background-color:#000;*/
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open ul li a:hover {
    color:#ffffff;
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open ul {
    /*border-top:1px solid #222c38;*/
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open ul li {
    border-bottom:none;
}
#mtree > .mtree-node.mtree-open > a {
		background-color: #199bef !important;
    /*background-color:rgba(0,0,0,0) !important;*/
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open > a {
		color: #FFF;
    /*background-color:#000000 !important;*/
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open > a:before{
	color: #01bf6c;
}
#mtree > .mtree-active>a{
     background-color:#34baf6 !important;
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open ul> .mtree-active a {
    /*background-color:#0094ca !important;*/
    color:#ffffff;
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open ul> .mtree-active a:before{
	content: url(../../Css/images/menu/checked.png);
	position: absolute;
  font-size: 16px;
  left: 23px;
  top: -2px;
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open ul> .mtree-node.mtree-open ul li a{
		color:#8AAACD;
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open ul> .mtree-node.mtree-open ul li a:before{
	content: " ";
}
#mtree > .mtree-node.mtree-open > ul > .mtree-node.mtree-open ul> .mtree-node.mtree-open a{
		color: #fff;
}
#mtree > .mtree-node.mtree-open > ul >.mtree-active a {
	background-color: #2262a2;
    color: #FFF;
    position: relative;
}